{{ $avatar := resources.GetMatch (.Site.Params.avatar) }}
{{ $avatarWebp := $avatar.Resize "160x webp q100 #ffffff" }}
{{ $avatarJpeg := $avatar.Resize "160x jpg q100 #ffffff" }}
<a href="{{ .Site.BaseURL }}">
  <picture>
    <source
      srcset="{{ $avatarWebp.RelPermalink }}"
      type="image/webp"
      loading="lazy"
      class="flex-none w-20 h-20 rounded-full overflow-hidden"
      alt="{{ .Site.Title }}"
    />
    <source
      srcset="{{ $avatarJpeg.RelPermalink }}"
      type="image/jpeg"
      loading="lazy"
      class="flex-none w-20 h-20 rounded-full overflow-hidden"
      alt="{{ .Site.Title }}"
    />
    <img
      src="{{ $avatarJpeg.RelPermalink }}"
      type="image/jpeg"
      loading="lazy"
      class="flex-none w-20 h-20 rounded-full overflow-hidden"
      alt="{{ .Site.Title }}"
    />
  </picture>
</a>
