<!-- <script>
  window.addEventListener("DOMContentLoaded", (event) => {
    const btnDark = document.querySelector("[data-theme-toggle]");
    btnDark.addEventListener("click", () => {
      document.body.classList.toggle("dark");
    });
  });
</script>
<div class="fixed top-0 right-0 mt-4 mr-4">
  <button type="button" data-theme-toggle aria-label="Change to light theme">
    <input type="checkbox" name="light-switch" class="light-switch sr-only" />
    <label class="relative cursor-pointer p-2" for="light-switch">
      <span class="dark:hidden w-32 h-32">🌒</span>
      <span class="hidden dark:inline w-32 h-32">🌔</span>
      <span class="sr-only">Switch to light / dark version</span>
    </label>
  </button>
</div> -->
<header
  class="flex flex-col sm:flex-row items-center gap-5 sm:gap-10 pt-16 py-12"
>
  {{ partial "header/avatar" . }}
  <div class="flex flex-col gap-5">
    {{ partial "header/title" . }}
    {{ partial "header/nav" . }}
  </div>
</header>
