<article class="flex flex-col gap-1">
  <div class="flex flex-wrap w-full">
    <h1 class="grow text-xl font-bold">
      <a class="link-underlined" href=" {{ .Permalink }} "
        >{{ .Title }} <span class="shadow-primary text-base">⏺</span></a
      >
    </h1>
    <p class="grow-0 leading-7 text-xs font-medium custom-gray-dark">
      {{ humanize .PublishDate.Day }} of {{ .PublishDate.Format "January 2006"
      }}
    </p>
  </div>
  <div class="custom-gray-dark text-xs">
    {{ if .Params.description }} {{ .Params.description }} {{ else if .Summary
    }} {{ .Summary }} {{ end }}
  </div>
</article>
